/* COLOR */

body { color: ##EEEEEE; background: #ffffff; }
h1 { }
a { color: #6E1405; }
pre { color: white; }

/* #header .title */

#header { }

.title h1 { color: #6E1405; }
.title pre { background: transparent; }

.download {
  background: #EE9385;
  border-color: #6E1405;
  color: ##EEEEEE;
}

.download a { color: #6E1405; }

/* #nav .menu */

#nav { border-color: #6E1405;
  background: url(../images/fade.png) repeat-y #EE9385;
}

.menu ul { background: transparent; }
.menu ul li a { color: #6E1405; border-color: #EE9385; }

/* #main .doc */

.doc { }
.doc a { color: #6E1405; }
.doc a:hover { }
.doc p { color: ##EEEEEE; }
.doc h2 { color: #6E1405; border-color: #EE9385; }
.doc h3 { border-color: #EE9385; }

/* #footer .copyright */

/* #footer { background: #DC280A; border-color: #6E1405; } */
.copyright { color:  colors[:text]; }

