<div id="doc">
  <p><%= description %></p><br/>
  <a href="#" onclick="$('#readme').toggle();">Toggle README</a>
</div>

<div id="readme" style="display: none;">
<div class="centered">
  <%= body %>
</div>
</div>

